Options +FollowSymlinks
RewriteEngine on

# Block Referrer Spam
#   Notice it might be useless as Referrer Spam may target 
#   Google Analytics directly, not the server...
RewriteCond %{HTTP_REFERER} (bestwebsitesawards\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (buttons-for-website\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (darodar\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (semalt\.com) [NC]
RewriteRule .* - [F]

# Redirect visitors from the old texture triangle gallery
# (http://www.webconfs.com/htaccess-redirect-generator.php)
RewriteRule ^?Sol-triangles-des-textures(.*)$ http://julienmoeys.info/2015/02/06/texture-triangle-gallery/$1 [R=301,NC,L,OR]
RewriteRule ^?Sol-triangles-des-textures#gallery(.*)$ http://julienmoeys.info/2015/02/06/texture-triangle-gallery/$1 [R=301,NC,L,OR]
RewriteRule ^?Soil-textures-triangle(.*)$ http://julienmoeys.info/2015/02/06/texture-triangle-gallery/$1 [R=301,NC,L]
