<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">&gt; Accueil</a>
    <a class="sidebar-nav-item" href="/en/">&gt; English</a>
    
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.categories contains 'fr' %}
            {% if node.layout == "page_fr" %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    
    <a class="sidebar-nav-item" href="https://www.flickr.com/photos/julienmoeys">Galerie Photo</a>
    <a class="sidebar-nav-item" href="http://scholar.google.com/citations?user=cRNn-IMAAAAJ">Google scholar</a>
    <a class="sidebar-nav-item" href="https://se.linkedin.com/in/julienmoeys">LinkedIn</a>
    <a class="sidebar-nav-item" href="http://www.slu.se/en/departments/soil-environment/contact/biogeophysics-and-water-quality/julien-moeys/">SLU homepage</a>
    <a class="sidebar-nav-item" href="/atom.xml">Atom feeds</a>
    <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y-%m-%d' }}. Some rights reserved.
    </p>
  </div>
</div>
